@model ResidentIndexViewModel

@{
    ViewBag.Title = "Index";
    const int columnsCardView = 6;
}

<h2>@Resources.Residents</h2>

@using (Html.BeginForm())
{
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">@Resources.CurrentFilters: <span class="bold">@Model.FilterString</span></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.DummyResident.Code)</label>
                            <div class="col-md-2">
                                @Html.TextBox("FilterCode", Model.FilterCode, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.DummyResident.FullName)</label>
                            <div class="col-md-3">
                                @Html.TextBox("FilterName", Model.FilterName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="left-inner-addon-inline">
                        <i class="glyphicon glyphicon-filter"></i>
                        <input type="submit" class="btn btn-default" value="@Resources.FilterAction" />
                    </div>
                    <div class="left-inner-addon-inline">
                        <i class="glyphicon glyphicon-remove"></i>
                        <input type="button" class="btn btn-default" value="@Resources.Cancel" onclick="location.href='@Url.Action("Index", new { viewMode = Model.ViewMode, pageIndex = Model.PageIndex })';"/>
                    </div>
                 </div>
            </div>
        </div>
    </div>
}

<div class="dropdown inline">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="@Model.Icon"></span> @Model.ViewModeCaption 
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Index", new { viewMode = Model.TheOtherView, filterCode = Model.FilterCode, filterName = Model.FilterName, pageIndex = Model.PageIndex })" class="btn btn-default btn-sm"><span class="@Model.TheOtherViewIcon"></span> @Model.TheOtherViewCaption</a></li>
    </ul>
</div>

<a href="@Url.Action("Create")" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> Create New</a>

<div class="help-block"></div>

@if (Model.IsCardMode)
{
    int count = 0;
    bool closeRow = false;
    
    foreach (var item in Model.Residents)
    {
        if (count % columnsCardView == 0)
        {
            @:<div class="row">
            closeRow = true;
        }
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading card-header-resident-height">
                    @item.FullName
                </div>
                <div class="panel-body">
                    <img class="resident-img img-responsive center-block" data-id="@item.Id" src="~/Content/Img/male-user-small_128x128.png" style="height: 150px; display: block;">
                    <div class="help-block"></div>
                    <p class="card-text">@Html.DisplayNameFor(model => model.DummyResident.Code): @item.Code</p>
                </div>
                <div class="panel-footer" style="background: white;">
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Delete</a>
                </div>
             </div>
        </div>
        if (count % columnsCardView == (columnsCardView - 1))
        {
            @:</div >
            closeRow = false;
        }
        count++;
    }

    if (closeRow)
    {
        @Html.Raw("</div >");
    }
}
else
{
    <div class="table-responsive">
        <table class="table" id="table-residents">
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DummyResident.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DummyResident.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DummyResident.Middle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DummyResident.Surname)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Residents)
            {
                <tr>
                    <th>
                        <img class="resident-img" data-id="@item.Id" style="height: 40px; width: 40px" src="~/Content/Img/male-user_32x32.png" />
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Middle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>Edit</a> |
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
}

@Resources.Page @(Model.Residents.PageCount < Model.Residents.PageNumber ? 0 : Model.Residents.PageNumber) @Resources.of @Model.Residents.PageCount

@Html.PagedListPager(Model.Residents, pageIndex => Url.Action("Index", new { viewMode = Model.ViewMode, filterCode = Model.FilterCode, filterName = Model.FilterName, pageIndex = pageIndex }))

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".resident-img").each(function () {
                var residentId = $(this).attr("data-id");
                var element = $(this);

                $.getJSON('http://localhost:16434/api/residents/' + residentId + '/photo')
                    .done(function (data) {
                        if (!jQuery.isEmptyObject(data)) {
                            element.attr("src", "data:image/png;base64," + data);
                        }
                    })
                    .fail(function (jqXHR, textStatus, err) {
                    });
            });
        });
    </script>


}
