@model IPagedList<ResidentViewModel>

@{
    ViewBag.Title = "Index";
    bool cardView = ViewBag.ViewMode == "card";
    const int columnsCardView = 6;
}

<h2>Index</h2>

<div class="dropdown inline">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        @if (cardView)
        {
            @Resources.CardView;
        }
        else
        {
            @Resources.ListView;
        }
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @if (cardView)
        {
            <li><a href="@Url.Action("Index", new { viewMode = "list", pageIndex = ViewBag.PageIndex })" class="btn btn-default btn-sm">@Resources.ListView</a></li>
        }
        else
        {
            <li><a href="@Url.Action("Index", new { viewMode = "card", pageIndex = ViewBag.PageIndex })" class="btn btn-default btn-sm">@Resources.CardView</a></li>
        }
    </ul>
</div>

<a href="@Url.Action("Create")" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> Create New</a>

<div class="help-block"></div>

@if (cardView)
{
    int count = 0;
    bool closeRow = false;
    
    foreach (var item in Model)
    {
        if (count % columnsCardView == 0)
        {
            @:<div class="row">
            closeRow = true;
        }
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading card-header-resident-height">
                    @item.FullName
                </div>
                <div class="panel-body">
                    <img class="resident-img img-responsive center-block" data-id="@item.Id" src="~/Content/Img/male-user-small_128x128.png" style="height: 150px; display: block;">
                    <div class="help-block"></div>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Code): @item.Code</p>
                </div>
                <div class="panel-footer" style="background: white;">
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Delete</a>
                </div>
             </div>
        </div>
        if (count % columnsCardView == (columnsCardView - 1))
        {
            @:</div >
            closeRow = false;
        }
        count++;
    }

    if (closeRow)
    {
        @:</div >
    }
}
else
{
    <div class="table-responsive">
        <table class="table" id="table-residents">
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Middle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <img class="resident-img" data-id="@item.Id" style="height: 40px; width: 40px" src="~/Content/Img/male-user_32x32.png" />
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Middle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>Edit</a> |
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, pageIndex => Url.Action("Index", new { viewMode = ViewBag.ViewMode, pageIndex = pageIndex }))

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".resident-img").each(function () {
                var residentId = $(this).attr("data-id");
                var element = $(this);

                $.getJSON('http://localhost:16434/api/residents/' + residentId + '/photo')
                    .done(function (data) {
                        if (!jQuery.isEmptyObject(data)) {
                            element.attr("src", "data:image/png;base64," + data);
                        }
                    })
                    .fail(function (jqXHR, textStatus, err) {
                    });
            });
        });
    </script>


}
